.App {
  text-align: center;
  background-color: rebeccapurple;
}

.home-div{
  display: flex;
  align-items: center;
  height: 498px;
  width: 50%;
  border: 3px #782836;
  margin-left: 50%;
  background: beige;
}

.main-txt-btns{
  padding-top: 2rem;
}
.txt-btns{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.login-div{
  background-color: white;
  width: 50%;
  position: absolute;
  top: 18%;
  left: 25%;
  padding: 3rem 0;
}
.wel-div{
  align-items: left;
  width: 300;
  display: flexbox; 
  font-family: Courier;
  font-weight:200;
}
/* body{
  background-color: black;
} */

.Nav{
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0.5rem 2.7rem;
  font-family: 'Courier New', Courier, monospace;
}

.logout-nav{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
}

.navbar-main{
  width: auto;
}
.main-logo {
  position: absolute;
  right: 45%;
}

.user-name{
  color: white;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding-right: 0.5rem;
}

.main-tiles{
  /* position: relative;
  left: 16%; */
  /* top: 20%; */
  /* margin-top: 3px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2.5px solid #7F377F;
  /* width: 70%; */
  border-end-start-radius: 1.5rem;
  border-end-end-radius: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.main-tile{
  min-height: 2rem;
  border: 2.5px solid #7F377F;
  border-bottom: transparent;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;   
}


.main-tile-head{
  display: flex;
  flex: 6;
  align-items: center;
  flex-direction: row;
}

.tiles{
  margin-top: 1.3rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4rem;
}

.remark-area{
  height: 35.2px !important;
  width: 12.875rem;
  border-radius: 0.25rem;
  resize: none;
}

.MuiBox-root{
  padding: unset !important;
}

.video-name{
  font-family: "heiti sc";
  font-weight: bolder;
  /* position: relative; */
  width: auto;
  /* left: 10%; */
}

.video-name-dynamic{
  font-family: "heiti sc";
  font-size: small;
  /* width: 50%; */
  /* position: relative; */
  /* left: 9%; */
  overflow-y: hidden;  
  overflow-x: hidden;
  padding-right: 5rem;
  /* flex: 4; */
}

/* .video-name-dynamic::-webkit-scrollbar {
  display: none;
} */

.video-name-dynamic:hover {
  overflow-x: scroll;
}

.video-name-dynamic::-webkit-scrollbar-thumb{
  background-color: #000;
}

.modal-play-btn{
  top: 66%;
  left: 50%;
  margin-top: -0.75em;
  margin-left: -1.5em;
  position: center;
}

/*Component: TileController (TC) */
.tc{

  right: 1.4%;
  top: 10%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;

}

.tc-inner{
  display: flex;
  align-items: center;
}
.css-1u15d99-MuiTypography-root {
  right: 0!important;
  /* width: 33%; */
  margin-left: 3%!important;
}


/* .am-main-tiles{ */
  /* position: relative;
  left: 16%; */
  /* top: 20%; */
  /* margin-top: 3px; */
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2.5px solid #7F377F; */
  /* width: 70%; */
  /* border-end-start-radius: 1.5rem;
  border-end-end-radius: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
} */

.am-main-tiles{
    /* margin-top: 3px; */
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    border: 2.5px solid #7F377F;
    /* width: 70%; */
    border-end-start-radius: 1.5rem;
    border-end-end-radius: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
}

.am-main-tile-head{
  display: flex;
  flex: 6;
 align-items: center;
 flex-direction: row;
 /* margin-right: 40%; */
}

.am-tiles{
  margin-top: 1.3rem;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4rem;
}
.aumis-tiles{
  margin-top: 1.3rem;
  width: 90.3%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4rem;
}
.sn-tiles{
  margin-top: 1.3rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4rem;
}

.amt-tiles{
  margin-top: 1.3rem;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4rem;
}

.confirm-tiles{
  margin-top: 1.3rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4rem;
}

.heading-screens{
  display: flex;
  margin-top: 10px;
  margin-top: -50px;

  justify-content: center;
  font-weight: bolder;
  font-family: Heiti SC;
}

.video-qc-heading {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin-top: 30px;
  font-family: Heiti SC;
  /* margin-bottom: -50px; */
}


.au-mis{
  margin-top: 1rem;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: #000 !important;
}

.audio-refresh-btn{
  display: flex;
  position: relative;
  justify-content: flex-end;
  top: -10px;
}

/* .audioqc-refresh-btn{
  display: flex;
  position: relative;
  justify-content: flex-end;
  top: -10px; 
} */

.css-1yo1jo6-MuiStack-root>:not(style)+:not(style){
  background-color: solid #7F377F;
}

.css-1yo1jo6-MuiStack-root>:not(style)+:not(style){
  margin: 0 !important;
  margin-left: 78px !important;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: fff;
  text-align: center;
}

.MuiBox-root{
  display: flex;
  justify-content: center;
}
.pagination-class{
  margin-left: 181px;
  display: flex;
  align-items: center;
}
.simp-english-input {
  min-width: 250px;
  padding: 10px;
  border-radius: 14px;
  text-align: center;
}

.simp-hindi-textarea{
  /* display: flex; */
  /* justify-content: center; */
  /* resize:none; */
  padding: 10px;
  text-align: center;
  border-radius: 14px;
  min-width: 250px;
}

.au-mt{
  margin-bottom: 10px;
}

/* Video Upload Module JM */

.upload-file-div{
  margin-top: 10%;
}

.loading-bar-div{
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.upload-button{
  margin-top:5% !important;
}

.offline-compo{
  display: flex;
  justify-content: center;
  font-family: "heiti sc";
  color: mediumvioletred;
  margin-top: 10px;
  font-weight: bold;
  font-size: 40px;
}