.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-txt-btns{
  padding-top: 2rem;
}
.txt-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.login-div{
  background-color: white;
  width: 50%;
  position: absolute;
  top: 18%;
  left: 25%;
  padding: 3rem 0;
}
.wel-div{
  align-items: left;
  width: 300;
  display: flexbox; 
  font-family: Courier;
  font-weight:200;
}
/* body{
  background-color: black;
} */

.Nav{
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0.5rem 2.7rem;
  font-family: 'Courier New', Courier, monospace;
}

.logout-nav{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
}

.user-name{
  color: white;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding-right: 0.5rem;
}

.main-tiles{
  position: absolute;
  left: 16%;
  top: 20%;
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
  border: 2.5px solid #7F377F;
  width: 70%;
  border-end-start-radius: 1.5rem;
  border-end-end-radius: 1.5rem;
}

.main-tile{
  position: absolute;
  height: 2rem;
  left: 16%;
  top: 17%;
  margin-top: 1px;
  /* display: flex; */
  /* justify-content: space-around; */
  border: 2.5px solid #7F377F;
  border-bottom: transparent;
  width: 70%;
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: ; */
}

.remark-area{
  height: 2rem;
  width: 12.875rem;
  margin-top: 0.55rem;
  border-radius: 0.25rem;
  /* border: 0px */
}

.MuiBox-root{
  padding: unset !important;
}

.video-name{
  font-family: "heiti sc";
  font-weight: bolder;
}

.video-name-dynamic{
  font-family: "heiti sc";
  font-size: small;
}